@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add a new treat</h2>
<hr>

<p>@Html.ValidationMessageFor(model => model.TreatName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName, "Treat Name:")<br>
  @Html.TextBoxFor(model => model.TreatName, new { placeholder = "cookie", style="font-style:italic"})
  <br>
  @Html.LabelFor(model => model.Description)<br>
  @Html.TextBoxFor(model => model.Description, new { placeholder = "yummy and decorative", style="font-style:italic"})
  <br>
  <input type="submit" value="Add new flavor" class="btn btn-primary" />
}
<hr><br>
<p>@Html.ActionLink("Show all treats", "Index", "Treats", null, new { @class = "btn btn-secondary" })</p>