@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<hr>

@if (User.Identity.IsAuthenticated)
{
  <h4>Treats for @User.Identity.Name</h4>
  @if (Model["treats"].Length == 0)
  {
    <p>No treats have been added yet!</p>
  } 
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li>@Html.ActionLink(@treat.TreatName, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
  </ul>
}
else
{
  <h4>Treats</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats.</p>
}

<hr>

<p>@Html.ActionLink("Manage treats", "Index", "Treats")</p> 
<p>@Html.ActionLink("Manage flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>