@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h2>Flavors</h2>
<hr>

<div class="card"> 
  @if (@Model.Count == 0)
  {
    <p class="lead">No flavors have been added yet!</p>
  } 
  else
  {
    <h6 class="card-header">Flavors</h6>
  }

  <ul>
    @foreach(Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Type}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
</div>
<hr><br>

<p>@Html.ActionLink("Add new flavor", "Create", "Flavors", null, new { @class = "btn btn-secondary" })</p>
<p>@Html.ActionLink("Add new treats", "Create", "Treats", null, new { @class = "btn btn-secondary" })</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-secondary" })</p>